.details
{
    margin-top: $separationSpace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4%;

    div
    {
        display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        @include for-tablet
        {
            flex-direction: row;
        }
    }
}

.details__title
{
    font-family: $aveFedan;
    font-size: $titleSize;
    color: $purple;
}
.details__description
{
    text-align: center;
    font-family: $quicksand;
    color: $purple;
    padding: 2% 2%;
    @include for-tablet{
        padding: 2% 10%;
    }
    
}
.details__button
{
    font-size: 1.3rem;
}
