.details
{
    margin-top: $separationSpace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4%;
}
.details__title
{
    font-family: $aveFedan;
    font-size: $titleSize;
    color: $purple;
}
.details__description
{
    text-align: center;
    font-family: $quicksand;
    color: $purple;
    margin: 5% 0%;
}
