.details
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.details__title
{
    font-family: 'Ave Fedan';
    font-size: 1.3rem;
}
.details__description
{
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight : 400;
}
