.ingredients
{
    color: $purple;
    padding: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ingredients__title
{
    font-family: $aveFedan;
    font-size: 1.3rem;
    margin: 2% 0%;
    border-bottom: 2px dashed $purple;
}
.ingredients__name
{
    margin: 1% 0%;
    font-family: $quicksand;
    font-size: 1.1rem;
}
.ingredients__description
{
    text-align: justify;
    font-family: $quicksand;

}
.ingredients__button
{
    font-size: 1.3rem;
}
