.ingredients
{
    color: $purple;
    padding: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ingredients__title
{
    font-family: $aveFedan;
    font-size: 1.3rem;
    margin: 2% 0%;
    text-decoration: underline wavy $purple;
}
.ingredients__name
{
    margin: 1% 0%;
    font-family: $quicksand;
    font-size: 1.1rem;
    font-weight: 700;
}
.ingredients__description
{
    text-align: justify;
    font-family: $quicksand;
    margin-bottom: 2%;
    @include for-tablet{
        padding: 0% 10%;
    }
    

}

