.nutritional_values
{
    border: 5px dashed $purple;
    padding: 2%;
}
.nutritional_values__title
{
    color: $purple;
    font-family: $aveFedan;
    font-size: $titleSize;
    text-align: center;
    margin-bottom: 3%;
}
.nutritional_values__thead
{
    color: $purple;
    font-family: $quicksand;
    font-size: 1.1rem;
    font-weight: 700;
}

.nutritional_values__name
{
    color: $purple;
    font-family: $quicksand;
    padding: 1%;
}
.nutritional_values__value
{
    color: $purple;
    font-family: $quicksand;
    text-align: right;
    padding: 1%;
}
.nutritional_values__asterix
{
    color: $purple;
    font-family: $quicksand;
    font-size: 0.8rem;

}