.nutritional_values__table tbody
{
 
}
.nutritional_values__title
{
    color: $purple;
    font-family: $aveFedan;
    font-size: $titleSize;
    text-align: center;
}
.nutritional_values__thead
{
    color: $purple;
    font-family: $quicksand;
    font-size: 1.1rem;
    font-weight: 700;
}
.nutritional_values__name
{
    color: $purple;
    font-family: $quicksand;
    font-size: 1rem;
}
.nutritional_values__value
{
    color: $purple;
    font-family: $quicksand;
    font-size: 1rem;
}