.presentation
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $purple;
    
}
.presentation__product
{
    display: flex;
    justify-content: center;
    
}
.presentation__page{
    width: 80vw;
    height: auto;
    padding: 1%;
    border: 10px dotted white;
    @include for-tablet
    {
        border: 20px dotted white;
    }
}
.presentation__title
{
    font-family: $aveFedan;
    font-size: $titleSize;
    color: white;
    text-align: center;
    padding: 2%;
    @include for-tablet{
        font-size: 1.8rem;
    }
}
.presentation__description
{
    text-align: center;
    font-family: $quicksand;
    font-weight : 400;
    padding: 2% 5%;
    margin-bottom: 2%;
    color: white;
}
.presentation__button
{
    font-family: $aveFedan;
    font-size: 1.3rem;
    font-weight : 400;
    color: white;
    padding: 2%;
    border-radius: 50px;
    border: 2px solid white;
    transition: linear 0.5s;
    margin-bottom: 5%;

    
}
.presentation__button:hover
{
    background-color: white;
    color: $purple;
    transition: linear 0.5s;
}
