.recipe_section
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4%;
    background-color: $lightpurple;
}
.recipe_section__title
{
    font-family: $aveFedan;
    color: white;
    font-size: $titleSize;
}
.recipe_section__description
{
    font-family: $quicksand;
    color: white;
    text-align: center;
    margin-top: 4%;
}
.recipe_section__grid
{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 50px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 300px));
}