.recipe
{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    
}
.recipe__name
{
    justify-self: center;
    align-self: center;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    opacity: 0;
    z-index:1;
    font-family: $aveFedan;
    font-size: 1.5rem;
    color: black;
    cursor: pointer;
}
.recipe__name:hover
{
    opacity: 1;
    
}
.recipe__image
{
    justify-self: center;
    align-self: center;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}
.recipe__name:hover + .recipe__image
{
    filter: hue-rotate(0deg);
}