*
{
    box-sizing : border-box;
    max-width: 100%;
}
html{
    font-size: 16px;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
.hidden
{
    display: none;
}
/*
::-webkit-scrollbar {
    width: 10px;
   
  }
  */
  /* Track */
  /*
  ::-webkit-scrollbar-track {
    background: $lightpurple;
    
  }
  */
  /* Handle */
  /*
  ::-webkit-scrollbar-thumb {
    background: $darkpurple;
    border-radius: 10px;
  }
  */