//Color variables
$darkpurple: #584486;
$purple : #7d69ac;
$lightpurple: #9483bd;

//Font-Family variables

$quicksand : 'Quicksand', sans-serif;
$aveFedan : 'Ave Fedan', cursive;

//Font-size variables
$titleSize : 1.5rem;

//Margin variables
$separationSpace: 6% 0%;
$separationBetweenElement : 5% 0%;