@import 'vendors/reset';

@import 'global/variables';
@import 'global/fonts';
@import 'global/scrollbar.scss';
@import 'global/mixins.scss';
@import 'global/global';

@import 'bloc/header';
@import 'bloc/presentation';
@import 'bloc/details';
@import 'bloc/ingredients';
@import 'bloc/nutritional_values';
@import 'bloc/cow';
@import 'bloc/recipe_section';
@import 'bloc/recipe';
@import 'bloc/footer';
