@import 'vendors/reset';

@import 'global/variables';
@import 'global/fonts';
@import 'global/scrollbar';
@import 'global/mixins';
@import 'global/global';
@import 'global/animation';

@import 'bloc/header';
@import 'bloc/presentation';
@import 'bloc/details';
@import 'bloc/ingredients';
@import 'bloc/nutritional_values';
@import 'bloc/cow';
@import 'bloc/recipe_section';
@import 'bloc/recipe';
@import 'bloc/footer';
